.Block {
    min-width: 100%;
    text-align: center;
    margin: 20px 0;
}


@media(min-width: 768px) {
    .Block {
        min-width: calc(33% - 60px);
        margin-left: 30px;
        margin-right: 30px;
    }
}


.Block-icon {
    display: block;
    font-size: 72px;
    line-height: 1;
    margin-bottom: 8px;
}

.Block-description {
    max-width: 260px;
    margin: 0 auto 16px;
}
