.Input {
    position: relative;
}

.Input-field {
    border: 1px solid var(--color-blue-normal);
    background: var(--color-light);
    font-size: 16px;
    font-family: inherit;
    border-radius: 6px;
    appearance: none;
    height: 40px;
    line-height: 1;
    padding: 8px 40px 8px 8px;
    min-width: 280px;
}

.Input-field::placeholder {
    color: var(--color-blue-normal);
    opacity: 1;
}

.Input-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.Input-icon {
    content: '🔍';
}

.Search {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
}

.Search-results {
    position: absolute;
    top: 100%;
    background: #fff;
    list-style: none;
    padding: 8px;
    margin: 0;
    border: 1px solid #ccc;
}
