.Categories {
    padding: 8px 0;
}

.Categories-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    margin: 0;
}

@media(min-width: 768px) {
    .Categories-container {
        justify-content: space-between;
    }
}

.Categories-link {
    font-size: 16px;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 6px;
    transition: color .3s, background .3s;
    margin: 0;
    display: flex;
    color: var(--color-blue-dark);
}

.Categories-link:hover {
    color: inherit;
}

.Categories-link:not(:last-of-type) {
    margin-right: 4px;
}

.Categories-link:not(:first-of-type) {
    margin-left: 4px;
}

.Categories-link:hover {
    background-color: var(--color-yellow);
}

.Categories-link[aria-current='page'] {

    background-color: var(--color-blue-light);
    color: var(--color-blue-dark);
}

.Categories-icon {
    margin-right: 4px;
}
