.Categories {
    display: none;
    padding: 8px 0;
}

.Categories--mobile {
    display: block;
}

@media(min-width: 768px) {
    .Categories {
        display: block;
    }

    .Categories--mobile {
        display: none;
    }
}

.Categories-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
}

@media(min-width: 768px) {
    .Categories-list {
        align-items: center;
        justify-content:center;
    }
}

.Categories-item {
    margin: 2px;
}

.Categories--mobile .Categories-item {
    width: 100%;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

@media(min-width: 500px) {
    .Categories--mobile .Categories-item {
        width: 48%;
    }
}

@media(min-width: 768px) {
    .Categories-container {
        justify-content: space-between;
    }
}

.Categories-link {
    font-size: 16px;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 6px;
    transition: color .3s, background .3s;
    margin: 0;
    display: flex;
    color: var(--color-blue-dark);
}

.Categories--mobile .Categories-link {
    justify-content: center;
}

.Categories-link:hover {
    color: inherit;
}

.Categories-link:not(:last-of-type) {
    margin-right: 4px;
}

.Categories-link:not(:first-of-type) {
    margin-left: 4px;
}

.Categories-link:hover {
    background-color: var(--color-yellow);
}

.Categories-link[aria-current='page'] {

    background-color: var(--color-blue-light);
    color: var(--color-blue-dark);
}

.Categories-icon {
    margin-right: 4px;
}
