.Header {
  padding: 14px 0 0;
  background: var(--color-light);
}

.Header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}


.Header-logo {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-blue-dark);
}


.Header-logo:hover .Header-logoSmile {
  transform: rotate(45deg) translateY(-6px);
}

.Header-logoSmile {
  display: inline-block;
  transition: transform .4s;
}
